/*************************************************
**************************************************


Color & Font Guide
****************/


  
  /************************************************
    *************************************************
    0. CSS Reset ------------------------ 
    1. Universal Styles -----------------
    2. Navigation Bar Styles -------------- 
    3. Hero Section Styles ----------------- 
    4. Sun Rise & Sun Set Sections ------------------- 
    5. Buttons & Search --------------------
    6. Footer Styles -------------------- 
    7. Misc. Styles ----------- 
    8. Media Queries -----------
    9. Media Queries ------------------- 

    ************************************************/
  
  /*----------------------------------------------
    ------------------------------------------------
    0. CSS Reset
    ------------------------------------------------
    ----------------------------------------------*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*----------------------------------------------
      ------------------------------------------------
      1. Universal Styles
      ------------------------------------------------
      ----------------------------------------------*/
 


  
  /*----------------------------------------------
      ------------------------------------------------
      2. Navigation Bar
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  /*----------------------------------------------
      ------------------------------------------------
      3. Hero Jumbotron Section
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  
  /*----------------------------------------------
      ------------------------------------------------
      4. Sun Rise & Sun Set Section
      ------------------------------------------------
      ----------------------------------------------*/
  
  /*----------------------------------------------
      ------------------------------------------------
      5. Buttons & Search
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  /*----------------------------------------------
      ------------------------------------------------
      6. Footer Styles
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  /*----------------------------------------------
      ------------------------------------------------
      7. Misc. Styles
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  
  /*----------------------------------------------
      ------------------------------------------------
      8. Media Queries
      ------------------------------------------------
      ----------------------------------------------*/
  
