/*************************************************
**************************************************


Color & Font Guide
****************/
:root {
    /*  PRIMARY COLOUR */
    --SunYellow: #FFCB47 ;
    /* SECONDARY COLOUR */
    --SkyBlue: #477BFF;
    /* MAIN FONT COLOUR */
    --Black: #000000;

    /* MAIN BODY FONT */

    --Heading: "Merriweather";
    --Body: "Karla";

  }

  
  /************************************************
    *************************************************
    0. CSS Reset ------------------------ 
    1. Universal Styles -----------------
    2. Navigation Bar Styles -------------- 
    3. Hero Section Styles ----------------- 
    4. Sun Rise & Sun Set Sections ------------------- 
    5. Buttons & Search --------------------
    6. Footer Styles -------------------- 
    7. Misc. Styles ----------- 
    8. Media Queries -----------
    9. Media Queries ------------------- 

    ************************************************/
  
  /*----------------------------------------------
    ------------------------------------------------
    0. CSS Reset
    ------------------------------------------------
    ----------------------------------------------*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*----------------------------------------------
      ------------------------------------------------
      1. Universal Styles
      ------------------------------------------------
      ----------------------------------------------*/
 


  
  /*----------------------------------------------
      ------------------------------------------------
      2. Navigation Bar
      ------------------------------------------------
      ----------------------------------------------*/

      .sunTrack-header {
        background-color: #4158D0;
        background-image: linear-gradient(43deg, #ee3124 0%, #d8e616 46%, #584c22 100%);
        
    }
    
  
  
  /*----------------------------------------------
      ------------------------------------------------
      3. Hero Jumbotron Section
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  
  /*----------------------------------------------
      ------------------------------------------------
      4. Sun Rise & Sun Set Section
      ------------------------------------------------
      ----------------------------------------------*/
  
  /*----------------------------------------------
      ------------------------------------------------
      5. Buttons & Search Form
      ------------------------------------------------
      ----------------------------------------------*/

      
#form-heading:hover .text {
    
    background-color: yellow;
  

}
  
  
  /*----------------------------------------------
      ------------------------------------------------
      6. Footer Styles
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  /*----------------------------------------------
      ------------------------------------------------
      7. Misc. Styles
      ------------------------------------------------
      ----------------------------------------------*/
  
  
  
  /*----------------------------------------------
      ------------------------------------------------
      8. Media Queries
      ------------------------------------------------
      ----------------------------------------------*/

